html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, em, img, small, strong, sub, sup, b, u, i, ol, ul, li, fieldset, form, label, article, aside, canvas, embed, figure, figcaption, footer, header, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: "";
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS55F-webfont.woff") format("woff"), url("../fonts/PTS55F-webfont.ttf") format("truetype"), url("../fonts/PTS55F-webfont.svg#PTSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTS56F-webfont.eot");
  src: url("../fonts/PTS56F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS56F-webfont.woff") format("woff"), url("../fonts/PTS56F-webfont.ttf") format("truetype"), url("../fonts/PTS56F-webfont.svg#PTSansItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTS75F-webfont.eot");
  src: url("../fonts/PTS75F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTS75F-webfont.woff") format("woff"), url("../fonts/PTS75F-webfont.ttf") format("truetype"), url("../fonts/PTS75F-webfont.svg#PTSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DroidSansMono";
  src: url("../fonts/DroidSansMono-webfont.eot");
  src: url("../fonts/DroidSansMono-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSansMono-webfont.woff") format("woff"), url("../fonts/DroidSansMono-webfont.ttf") format("truetype"), url("../fonts/DroidSansMono-webfont.svg##DroidSansMonoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.block, .content, .quotes, .hero, .sample, .subnav, header {
  zoom: 1;
}
.block:before, .content:before, .quotes:before, .hero:before, .sample:before, .subnav:before, header:before, .block:after, .content:after, .quotes:after, .hero:after, .sample:after, .subnav:after, header:after {
  content: "";
  display: table;
}
.block:after, .content:after, .quotes:after, .hero:after, .sample:after, .subnav:after, header:after {
  clear: both;
}

.sample-erb, .sample-haml {
  color: transparent;
  font: 0/0 a;
}

@-webkit-keyframes bob {
  from {
    -webkit-transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(3px);
  }
}

@-moz-keyframes bob {
  from {
    -moz-transform: translateY(0);
  }

  to {
    -moz-transform: translateY(3px);
  }
}

@-o-keyframes bob {
  from {
    -o-transform: translateY(0);
  }

  to {
    -o-transform: translateY(3px);
  }
}

@keyframes bob {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(3px);
  }
}

body {
  font-size: 100%;
  line-height: 1.5em;
}

html > body {
  font-size: 16px;
}

html {
  background: #eaeae1 url("../images/bg-body.png") bottom left repeat-x;
}

body {
  color: #3e3e29;
  font-family: "PTSans", "Arial", "Helvetica", "sans-serif";
}

h1 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: 0.8em;
  color: #808067;
  text-align: center;
}
.content h1 {
  border-bottom-style: solid;
  border-bottom-width: 0.03333em;
  padding-bottom: 0.76667em;
  border-color: #d2d2c7;
}
h1 img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.33333em;
}
.ie h1 {
  font-size: 3.125em;
  line-height: 1.44em;
  margin-bottom: 0.48em;
  text-align: left;
}
.content .ie h1 {
  border-bottom-style: solid;
  border-bottom-width: 0.02em;
  padding-bottom: 0.46em;
}
.ie h1 img {
  float: right;
  margin: 0;
  position: relative;
  top: -2px;
  vertical-align: top;
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3.125em;
    line-height: 1.44em;
    margin-bottom: 0.48em;
    text-align: left;
  }
  .content h1 {
    border-bottom-style: solid;
    border-bottom-width: 0.02em;
    padding-bottom: 0.46em;
  }
  h1 img {
    float: right;
    margin: 0;
    position: relative;
    top: -2px;
    vertical-align: top;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.84615em;
  color: #3e3e29;
  font-weight: bold;
}

h3 {
  font-size: 1.1875em;
  line-height: 1.26316em;
  line-height: 2.52632em;
  color: #808067;
}

p {
  margin-bottom: 1.5em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 2em;
}
li p {
  margin: 0;
}

pre {
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 0em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  background: white;
  font-family: "DroidSansMono", Courier, monospace;
  overflow-x: auto;
  padding-left: 40px;
  padding-right: 40px;
}
pre.haml {
  background: #cdd7d9;
}
pre .tag {
  color: #3e3e29;
}
pre .pun {
  color: #63878b;
}
.ie pre {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 500px) {
  pre {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 0em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
  }
}

a {
  color: #e73e33;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ec6961;
  text-decoration: underline;
}

strong {
  color: #3e3e29;
  font-weight: bold;
}

code {
  background: white;
  border: 1px solid #deded5;
  border-radius: 2px;
  color: #808067;
  font-family: "DroidSansMono", Courier, monospace;
  padding: 0 3px;
}

.cell {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}

.block, .content, .quotes, .hero, .sample {
  margin-top: 3em;
  margin-bottom: 3em;
}

.ie .content {
  margin-left: 80px;
  margin-right: 80px;
}
@media screen and (min-width: 750px) {
  .content {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.btn {
  font-size: 1.125em;
  line-height: 1.33333em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e73e33), color-stop(100%, #cf2318));
  background: -webkit-linear-gradient(#e73e33, #cf2318);
  background: -moz-linear-gradient(#e73e33, #cf2318);
  background: -o-linear-gradient(#e73e33, #cf2318);
  background: -ms-linear-gradient(#e73e33, #cf2318);
  background: linear-gradient(#e73e33, #cf2318);
  margin-bottom: 1.33333em;
  -moz-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: #e73e33;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #6f1e19, 0 2px 3px rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  font-weight: bold;
  line-height: 48px;
  margin-right: 10px;
  padding: 0 40px;
  text-align: center;
}
.btn:hover, .btn:focus {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ea544a), color-stop(100%, #e73e33));
  background: -webkit-linear-gradient(#ea544a, #e73e33);
  background: -moz-linear-gradient(#ea544a, #e73e33);
  background: -o-linear-gradient(#ea544a, #e73e33);
  background: -ms-linear-gradient(#ea544a, #e73e33);
  background: linear-gradient(#ea544a, #e73e33);
  color: white;
  text-decoration: none;
}
.btn:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4281c), color-stop(100%, #b82016));
  background: -webkit-linear-gradient(#e4281c, #b82016);
  background: -moz-linear-gradient(#e4281c, #b82016);
  background: -o-linear-gradient(#e4281c, #b82016);
  background: -ms-linear-gradient(#e4281c, #b82016);
  background: linear-gradient(#e4281c, #b82016);
}

.quotes li {
  list-style: none;
  margin: 0;
  margin-bottom: 1.5em;
  position: relative;
}
.quotes blockquote {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #3e3e29;
  color: #eaeae1;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  text-align: center;
}
.quotes blockquote:after {
  background: url("../images/bg-quote.png") no-repeat;
  bottom: -22px;
  content: "";
  display: block;
  height: 22px;
  position: absolute;
  right: 35px;
  width: 25px;
}
.quotes a {
  line-height: 3em;
  font-weight: bold;
}
.ie .quotes li {
  float: left;
  margin: 0;
  width: 32%;
}
.ie .quotes .alt {
  margin: 0 2%;
}
.ie .quotes .alt blockquote {
  margin-top: 3em;
}
.ie .quotes .alt blockquote:after {
  background: url("../images/bg-quote-alt.png") no-repeat;
  bottom: auto;
  top: -21px;
}
.ie .quotes .alt a {
  left: 0;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 815px) {
  .quotes li {
    float: left;
    margin: 0;
    width: 32%;
  }
  .quotes .alt {
    margin: 0 2%;
  }
  .quotes .alt blockquote {
    margin-top: 3em;
  }
  .quotes .alt blockquote:after {
    background: url("../images/bg-quote-alt.png") no-repeat;
    bottom: auto;
    top: -21px;
  }
  .quotes .alt a {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.subnav a {
  color: #849ea2;
  font-weight: bold;
}
.ie .subnav {
  list-style: none;
  position: relative;
  top: -37px;
}
.ie .subnav li {
  background: #eaeae1;
  border-right: 1px solid #d2d2c7;
  float: left;
  margin: 0;
}
.ie .subnav li:first-child a {
  padding-left: 0;
}
.ie .subnav a {
  display: block;
  padding: 0 1em;
}
@media screen and (min-width: 500px) {
  .subnav {
    list-style: none;
    position: relative;
    top: -37px;
  }
  .subnav li {
    background: #eaeae1;
    border-right: 1px solid #d2d2c7;
    float: left;
    margin: 0;
  }
  .subnav li:first-child a {
    padding-left: 0;
  }
  .subnav a {
    display: block;
    padding: 0 1em;
  }
}

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
header li {
  font-weight: bold;
  list-style: none;
  margin: 0;
}
header li a {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-color: #d2d2c7;
  display: block;
  text-align: center;
}
header li:last-child a {
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.6875em;
}
header .logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 276px;
}
header img {
  display: block;
  max-width: 100%;
  width: 276px;
}
.ie header ul {
  float: right;
  margin-top: 45px;
}
.ie header li {
  float: left;
  margin: 0 0 0 2em;
}
.ie header li a {
  border: 0;
  padding: 0;
}
.ie header li:last-child a {
  border: 0;
}
.ie header .logo {
  float: left;
  margin: 0;
}
@media screen and (min-width: 815px) {
  header ul {
    float: right;
    margin-top: 45px;
  }
  header li {
    float: left;
    margin: 0 0 0 2em;
  }
  header li a {
    border: 0;
    padding: 0;
  }
  header li:last-child a {
    border: 0;
  }
  header .logo {
    float: left;
    margin: 0;
  }
}

footer {
  background: url("../images/bg-footer.png") 0 0 repeat-x;
  padding-top: 50px;
  text-align: center;
}
footer p {
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin-top: 0em;
  padding-top: 3.69231em;
  padding-bottom: 3.69231em;
  margin-bottom: 0em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0d8), color-stop(100%, #eaeae1));
  background: -webkit-linear-gradient(#e0e0d8, #eaeae1);
  background: -moz-linear-gradient(#e0e0d8, #eaeae1);
  background: -o-linear-gradient(#e0e0d8, #eaeae1);
  background: -ms-linear-gradient(#e0e0d8, #eaeae1);
  background: linear-gradient(#e0e0d8, #eaeae1);
  background-color: #e0e0d8;
  padding-left: 5%;
  padding-right: 5%;
}

.hero {
  text-align: center;
}
.hero img {
  max-width: 100%;
}
.hero .boat {
  margin-top: -40px;
  position: relative;
}
.hero .boat-img {
  -webkit-animation: bob 1s ease-in-out alternate 100;
  -moz-animation: bob 1s ease-in-out alternate 100;
  -o-animation: bob 1s ease-in-out alternate 100;
  animation: bob 1s ease-in-out alternate 100;
  left: 0;
  position: absolute;
  top: 0;
}
.hero h1 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
}
.hero b {
  display: block;
}
.ie .hero .boat-img {
  left: 50%;
  margin-left: -250px;
}
.ie .hero h1 {
  font-size: 1.875em;
  line-height: 1.6em;
  margin-bottom: 0.8em;
  text-align: center;
}
.ie .hero b {
  display: inline;
}
@media screen and (min-width: 500px) {
  .hero .boat-img {
    left: 50%;
    margin-left: -250px;
  }
  .hero h1 {
    font-size: 1.875em;
    line-height: 1.6em;
    margin-bottom: 0.8em;
    text-align: center;
  }
  .hero b {
    display: inline;
  }
}
.ie .hero {
  text-align: left;
}
.ie .hero h1 {
  text-align: left;
}
.ie .hero .box {
  float: left;
  width: 50%;
}
.ie .hero .boat {
  margin-top: 0;
}
.ie .hero .boat-img {
  left: 0;
  margin-left: 0;
}
.ie .hero b {
  display: block;
}
@media screen and (min-width: 815px) {
  .hero {
    text-align: left;
  }
  .hero h1 {
    text-align: left;
  }
  .hero .box {
    float: left;
    width: 50%;
  }
  .hero .boat {
    margin-top: 0;
  }
  .hero .boat-img {
    left: 0;
    margin-left: 0;
  }
  .hero b {
    display: block;
  }
}
.ie .hero .boat {
  margin-top: -40px;
}
.ie .hero b {
  display: inline;
}
@media screen and (min-width: 940px) {
  .hero .boat {
    margin-top: -40px;
  }
  .hero b {
    display: inline;
  }
}
.ie .hero h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}
@media screen and (min-width: 1100px) {
  .hero h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
  }
}

.sample {
  background-color: white;
  position: relative;
}
.sample .box {
  position: relative;
}
.sample .box:first-child {
  border-bottom: 5px solid #eaeae1;
}
.sample pre {
  padding-top: 3em;
  padding-bottom: 3em;
  background: none;
  color: #808067;
  margin: 0;
}
.ie .sample pre {
  margin: 0 40px;
}
@media screen and (min-width: 750px) {
  .sample pre {
    margin: 0 40px;
  }
}
.ie .sample {
  background: white url("../images/bg-sample.png") center repeat-y;
}
.ie .sample .box {
  float: left;
  width: 50%;
}
.ie .sample .box:first-child {
  border-bottom: 0;
}
.ie .sample pre {
  margin: 0;
}
@media screen and (min-width: 875px) {
  .sample {
    background: white url("../images/bg-sample.png") center repeat-y;
  }
  .sample .box {
    float: left;
    width: 50%;
  }
  .sample .box:first-child {
    border-bottom: 0;
  }
  .sample pre {
    margin: 0;
  }
}
.ie .sample:before {
  background: url("../images/bg-sample-arrow.png") no-repeat;
  content: "";
  display: block;
  height: 87px;
  left: 50%;
  margin: -43px 0 0 -62px;
  position: absolute;
  top: 50%;
  width: 125px;
  z-index: 1;
}
.ie .sample pre {
  margin: 0 40px;
}
@media screen and (min-width: 1050px) {
  .sample:before {
    background: url("../images/bg-sample-arrow.png") no-repeat;
    content: "";
    display: block;
    height: 87px;
    left: 50%;
    margin: -43px 0 0 -62px;
    position: absolute;
    top: 50%;
    width: 125px;
    z-index: 1;
  }
  .sample pre {
    margin: 0 40px;
  }
}

.sample-erb, .sample-haml {
  background: url("../images/bg-sample-erb.png") no-repeat;
  height: 85px;
  left: -15px;
  margin: 0;
  position: absolute;
  top: -24px;
  width: 108px;
}

.sample-haml {
  background: url("../images/bg-sample-haml.png") no-repeat;
  left: auto;
  right: -15px;
}

.about img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.about h2 {
  margin-top: 0.92308em;
}
.ie .about {
  background: url("../images/bg-about.png") right bottom no-repeat;
}
.ie .about .box {
  float: left;
  width: 60%;
}
.ie .about img {
  float: right;
  max-width: 40%;
}
@media screen and (min-width: 600px) {
  .about {
    background: url("../images/bg-about.png") right bottom no-repeat;
  }
  .about .box {
    float: left;
    width: 60%;
  }
  .about img {
    float: right;
    max-width: 40%;
  }
}

.error {
  text-align: center;
}
.error img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.error h2 {
  margin-bottom: 0.46154em;
}
